ANTHROPIC_AUTH_TOKEN=replace_me
ANTHROPIC_API_KEY=replace_me
ANTHROPIC_BASE_URL=
ANTHROPIC_MODEL=
API_TIMEOUT_MS=600000
CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC=1
CUSTOM_PROVIDER_AUTH_TOKEN=replace_me
LOG_LEVEL=info
